code, pre {
  padding: 7px;
  font-size: $code-font-size;
  font-family: $code-font-family;
  background: $code-background;
}

code {
  padding: 3px 5px;
  border-radius: 4px;
  color: $code-color;
}

// highlight.js
figure.highlight {
  margin: 1em 0;
  border-radius: 5px;
  overflow-x: auto;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
  position: relative;

  table {
    position: relative;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      padding: 2px 7px;
      font-size: $code-font-size;
      font-weight: bold;
      color: darken($gray, 10%);
      background: darken($code-background, 3%);
      content: 'Code';
    }
  }

  @each $sign, $text in $code-type-list {
    &.#{$sign} > table::after {
      content: $text;
    }
  }

  .code {
    pre {
      margin: 0;
      padding: 30px 10px 10px;
    }
  }

  .gutter {
    width: 10px;
    color: $gray;

    pre {
      margin: 0;
      padding: 30px 7px 10px;
    }
  }

  .line {
    // Fix code block null line height and
    // Synchronous gutter and code line highly.
    height: round($code-font-size * 1.5);
  }

  table, tr, td {
    margin: 0;
    padding: 0;
    width: 100%;
    border-collapse: collapse;
  }

  .code {
    .hljs {
      display: block;
      overflow-x: auto;
      padding: 0.5em;
      color: #abb2bf;
      background: #282c34;
    }

    .hljs-comment,
    .hljs-quote {
      color: #5c6370;
      font-style: italic;
    }

    .hljs-doctag,
    .hljs-keyword,
    .hljs-formula {
      color: #c678dd;
    }

    .hljs-section,
    .hljs-name,
    .hljs-selector-tag,
    .hljs-deletion,
    .hljs-subst {
      color: #e06c75;
    }

    .hljs-literal {
      color: #56b6c2;
    }

    .hljs-string,
    .hljs-regexp,
    .hljs-addition,
    .hljs-attribute,
    .hljs-meta-string {
      color: #98c379;
    }

    .hljs-built_in,
    .hljs-class .hljs-title {
      color: #e6c07b;
    }

    .hljs-attr,
    .hljs-variable,
    .hljs-template-variable,
    .hljs-type,
    .hljs-selector-class,
    .hljs-selector-attr,
    .hljs-selector-pseudo,
    .hljs-number {
      color: #d19a66;
    }

    .hljs-symbol,
    .hljs-bullet,
    .hljs-link,
    .hljs-meta,
    .hljs-selector-id,
    .hljs-title {
      color: #61aeee;
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: bold;
    }

    .hljs-link {
      text-decoration: underline;
    }

    //.hljs-comment,
    //.hljs-quote {
    //  color: map-get($code-highlight-color, comment);
    //  font-style: italic;
    //}
    //
    //.hljs-keyword,
    //.hljs-selector-tag,
    //.hljs-addition {
    //  color: map-get($code-highlight-color, keyword);
    //}
    //
    //.hljs-number,
    //.hljs-string,
    //.hljs-meta .hljs-meta-string,
    //.hljs-literal,
    //.hljs-doctag,
    //.hljs-regexp {
    //  color: map-get($code-highlight-color, number);
    //}
    //
    //.hljs-title,
    //.hljs-section,
    //.hljs-name,
    //.hljs-selector-id,
    //.hljs-selector-class {
    //  color: map-get($code-highlight-color, title);
    //}
    //
    //.hljs-attribute,
    //.hljs-attr,
    //.hljs-variable,
    //.hljs-template-variable,
    //.hljs-class .hljs-title,
    //.hljs-type {
    //  color: map-get($code-highlight-color, attribute);
    //}
    //
    //.hljs-symbol,
    //.hljs-bullet,
    //.hljs-subst,
    //.hljs-meta,
    //.hljs-meta .hljs-keyword,
    //.hljs-selector-attr,
    //.hljs-selector-pseudo,
    //.hljs-link {
    //  color: map-get($code-highlight-color, symbol);
    //}
    //
    //.hljs-built_in,
    //.hljs-deletion {
    //  color: map-get($code-highlight-color, built_in);
    //}
    //
    //.hljs-formula {
    //  background: map-get($code-highlight-color, formula);
    //}
    //
    //.hljs-emphasis {
    //  font-style: italic;
    //}
    //
    //.hljs-strong {
    //  font-weight: bold;
    //}
  }
}

// chroma
.highlight > .chroma {
  margin: 1em 0;
  border-radius: 5px;
  overflow-x: auto;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
  position: relative;
  background: $code-background;

  code {
    padding: 0;
  }

  table {
    position: relative;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      padding: 2px 7px;
      font-size: $code-font-size;
      font-weight: bold;
      color: darken($gray, 10%);
      background: darken($code-background, 3%);
      content: 'Code';
    }
  }

  @each $sign, $text in $code-type-list {
    &.#{$sign} > table::after {
      content: $text;
    }
  }

  .lntd {
    // Fix code block null line height and
    // Synchronous gutter and code line highly.
    line-height: round($code-font-size * 1.5);

    &:first-child {
      width: 10px;

      pre {
        margin: 0;
        padding: 30px 7px 10px;
      }
    }

    &:last-child {
      vertical-align: top;

      pre {
        margin: 0;
        padding: 30px 10px 10px;
      }
    }
  }

  table, tr, td {
    margin: 0;
    padding: 0;
    width: 100%;
    border-collapse: collapse;
  }

  /* Background */ .chroma { color: #f8f8f2; background-color: #282a36 }
  /* Other */ .chroma .x {  }
  /* Error */ .chroma .err {  }
  /* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
  /* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
  /* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
  /* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
  /* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
  /* Keyword */ .chroma .k { color: #ff79c6 }
  /* KeywordConstant */ .chroma .kc { color: #ff79c6 }
  /* KeywordDeclaration */ .chroma .kd { color: #8be9fd; font-style: italic }
  /* KeywordNamespace */ .chroma .kn { color: #ff79c6 }
  /* KeywordPseudo */ .chroma .kp { color: #ff79c6 }
  /* KeywordReserved */ .chroma .kr { color: #ff79c6 }
  /* KeywordType */ .chroma .kt { color: #8be9fd }
  /* Name */ .chroma .n {  }
  /* NameAttribute */ .chroma .na { color: #50fa7b }
  /* NameBuiltin */ .chroma .nb { color: #8be9fd; font-style: italic }
  /* NameBuiltinPseudo */ .chroma .bp {  }
  /* NameClass */ .chroma .nc { color: #50fa7b }
  /* NameConstant */ .chroma .no {  }
  /* NameDecorator */ .chroma .nd {  }
  /* NameEntity */ .chroma .ni {  }
  /* NameException */ .chroma .ne {  }
  /* NameFunction */ .chroma .nf { color: #50fa7b }
  /* NameFunctionMagic */ .chroma .fm {  }
  /* NameLabel */ .chroma .nl { color: #8be9fd; font-style: italic }
  /* NameNamespace */ .chroma .nn {  }
  /* NameOther */ .chroma .nx {  }
  /* NameProperty */ .chroma .py {  }
  /* NameTag */ .chroma .nt { color: #ff79c6 }
  /* NameVariable */ .chroma .nv { color: #8be9fd; font-style: italic }
  /* NameVariableClass */ .chroma .vc { color: #8be9fd; font-style: italic }
  /* NameVariableGlobal */ .chroma .vg { color: #8be9fd; font-style: italic }
  /* NameVariableInstance */ .chroma .vi { color: #8be9fd; font-style: italic }
  /* NameVariableMagic */ .chroma .vm {  }
  /* Literal */ .chroma .l {  }
  /* LiteralDate */ .chroma .ld {  }
  /* LiteralString */ .chroma .s { color: #f1fa8c }
  /* LiteralStringAffix */ .chroma .sa { color: #f1fa8c }
  /* LiteralStringBacktick */ .chroma .sb { color: #f1fa8c }
  /* LiteralStringChar */ .chroma .sc { color: #f1fa8c }
  /* LiteralStringDelimiter */ .chroma .dl { color: #f1fa8c }
  /* LiteralStringDoc */ .chroma .sd { color: #f1fa8c }
  /* LiteralStringDouble */ .chroma .s2 { color: #f1fa8c }
  /* LiteralStringEscape */ .chroma .se { color: #f1fa8c }
  /* LiteralStringHeredoc */ .chroma .sh { color: #f1fa8c }
  /* LiteralStringInterpol */ .chroma .si { color: #f1fa8c }
  /* LiteralStringOther */ .chroma .sx { color: #f1fa8c }
  /* LiteralStringRegex */ .chroma .sr { color: #f1fa8c }
  /* LiteralStringSingle */ .chroma .s1 { color: #f1fa8c }
  /* LiteralStringSymbol */ .chroma .ss { color: #f1fa8c }
  /* LiteralNumber */ .chroma .m { color: #bd93f9 }
  /* LiteralNumberBin */ .chroma .mb { color: #bd93f9 }
  /* LiteralNumberFloat */ .chroma .mf { color: #bd93f9 }
  /* LiteralNumberHex */ .chroma .mh { color: #bd93f9 }
  /* LiteralNumberInteger */ .chroma .mi { color: #bd93f9 }
  /* LiteralNumberIntegerLong */ .chroma .il { color: #bd93f9 }
  /* LiteralNumberOct */ .chroma .mo { color: #bd93f9 }
  /* Operator */ .chroma .o { color: #ff79c6 }
  /* OperatorWord */ .chroma .ow { color: #ff79c6 }
  /* Punctuation */ .chroma .p {  }
  /* Comment */ .chroma .c { color: #6272a4 }
  /* CommentHashbang */ .chroma .ch { color: #6272a4 }
  /* CommentMultiline */ .chroma .cm { color: #6272a4 }
  /* CommentSingle */ .chroma .c1 { color: #6272a4 }
  /* CommentSpecial */ .chroma .cs { color: #6272a4 }
  /* CommentPreproc */ .chroma .cp { color: #ff79c6 }
  /* CommentPreprocFile */ .chroma .cpf { color: #ff79c6 }
  /* Generic */ .chroma .g {  }
  /* GenericDeleted */ .chroma .gd { color: #8b080b }
  /* GenericEmph */ .chroma .ge { text-decoration: underline }
  /* GenericError */ .chroma .gr {  }
  /* GenericHeading */ .chroma .gh { font-weight: bold }
  /* GenericInserted */ .chroma .gi { font-weight: bold }
  /* GenericOutput */ .chroma .go { color: #44475a }
  /* GenericPrompt */ .chroma .gp {  }
  /* GenericStrong */ .chroma .gs {  }
  /* GenericSubheading */ .chroma .gu { font-weight: bold }
  /* GenericTraceback */ .chroma .gt {  }
  /* GenericUnderline */ .chroma .gl { text-decoration: underline }
  /* TextWhitespace */ .chroma .w {  }





  ///* LineNumbersTable */  .lnt { color: $gray; }
  ///* LineHighlight */  .hl { display: block; width: 100%; background-color: #ffffcc }
  //
  ///* Keyword */  .k { color: #859900 }
  ///* KeywordConstant */  .kc { color: #859900; font-weight: bold }
  ///* KeywordDeclaration */  .kd { color: #859900 }
  ///* KeywordNamespace */  .kn { color: #dc322f; font-weight: bold }
  ///* KeywordPseudo */  .kp { color: #859900 }
  ///* KeywordReserved */  .kr { color: #859900 }
  ///* KeywordType */  .kt { color: #859900; font-weight: bold }
  ///* Name */  .n { color: #268bd2 }
  ///* NameAttribute */  .na { color: #268bd2 }
  ///* NameBuiltin */  .nb { color: #cb4b16 }
  ///* NameBuiltinPseudo */  .bp { color: #268bd2 }
  ///* NameClass */  .nc { color: #cb4b16 }
  ///* NameConstant */  .no { color: #268bd2 }
  ///* NameDecorator */  .nd { color: #268bd2 }
  ///* NameEntity */  .ni { color: #268bd2 }
  ///* NameException */  .ne { color: #268bd2 }
  ///* NameFunction */  .nf { color: #268bd2 }
  ///* NameFunctionMagic */  .fm { color: #268bd2 }
  ///* NameLabel */  .nl { color: #268bd2 }
  ///* NameNamespace */  .nn { color: #268bd2 }
  ///* NameOther */  .nx { color: #268bd2 }
  ///* NameProperty */  .py { color: #268bd2 }
  ///* NameTag */  .nt { color: #268bd2; font-weight: bold }
  ///* NameVariable */  .nv { color: #268bd2 }
  ///* NameVariableClass */  .vc { color: #268bd2 }
  ///* NameVariableGlobal */  .vg { color: #268bd2 }
  ///* NameVariableInstance */  .vi { color: #268bd2 }
  ///* NameVariableMagic */  .vm { color: #268bd2 }
  ///* Literal */  .l { color: #2aa198 }
  ///* LiteralDate */  .ld { color: #2aa198 }
  ///* LiteralString */  .s { color: #2aa198 }
  ///* LiteralStringAffix */  .sa { color: #2aa198 }
  ///* LiteralStringBacktick */  .sb { color: #2aa198 }
  ///* LiteralStringChar */  .sc { color: #2aa198 }
  ///* LiteralStringDelimiter */  .dl { color: #2aa198 }
  ///* LiteralStringDoc */  .sd { color: #2aa198 }
  ///* LiteralStringDouble */  .s2 { color: #2aa198 }
  ///* LiteralStringEscape */  .se { color: #2aa198 }
  ///* LiteralStringHeredoc */  .sh { color: #2aa198 }
  ///* LiteralStringInterpol */  .si { color: #2aa198 }
  ///* LiteralStringOther */  .sx { color: #2aa198 }
  ///* LiteralStringRegex */  .sr { color: #2aa198 }
  ///* LiteralStringSingle */  .s1 { color: #2aa198 }
  ///* LiteralStringSymbol */  .ss { color: #2aa198 }
  ///* LiteralNumber */  .m { color: #2aa198; font-weight: bold }
  ///* LiteralNumberBin */  .mb { color: #2aa198; font-weight: bold }
  ///* LiteralNumberFloat */  .mf { color: #2aa198; font-weight: bold }
  ///* LiteralNumberHex */  .mh { color: #2aa198; font-weight: bold }
  ///* LiteralNumberInteger */  .mi { color: #2aa198; font-weight: bold }
  ///* LiteralNumberIntegerLong */  .il { color: #2aa198; font-weight: bold }
  ///* LiteralNumberOct */  .mo { color: #2aa198; font-weight: bold }
  ///* OperatorWord */  .ow { color: #859900 }
  ///* Comment */  .c { color: #93a1a1; font-style: italic }
  ///* CommentHashbang */  .ch { color: #93a1a1; font-style: italic }
  ///* CommentMultiline */  .cm { color: #93a1a1; font-style: italic }
  ///* CommentSingle */  .c1 { color: #93a1a1; font-style: italic }
  ///* CommentSpecial */  .cs { color: #93a1a1; font-style: italic }
  ///* CommentPreproc */  .cp { color: #93a1a1; font-style: italic }
  ///* CommentPreprocFile */  .cpf { color: #93a1a1; font-style: italic }
  ///* Generic */  .g { color: #d33682 }
  ///* GenericDeleted */  .gd { color: #b58900 }
  ///* GenericEmph */  .ge { color: #d33682 }
  ///* GenericError */  .gr { color: #d33682 }
  ///* GenericHeading */  .gh { color: #d33682 }
  ///* GenericInserted */  .gi { color: #859900 }
  ///* GenericOutput */  .go { color: #d33682 }
  ///* GenericPrompt */  .gp { color: #d33682 }
  ///* GenericStrong */  .gs { color: #d33682 }
  ///* GenericSubheading */  .gu { color: #d33682 }
  ///* GenericTraceback */  .gt { color: #d33682 }
}
